<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
        <dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 物品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{% url 'index:product_cate' %}" title="物品分类">物品分类</a></li>
					<li><a href="{% url 'index:product_add' %}" title="增加物品">增加物品</a></li>
					<li><a href="{% url 'index:product_list' %}" title="物品列表">物品列表</a></li>
				</ul>
			</dd>
		</dl>
        <dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{% url 'index:user_add' %}" title="增加用户">增加用户</a></li>
					<li><a href="{% url 'index:user_list' %}" title="用户列表">用户列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 在线考勤<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{% url 'index:event_add' %}" title="创建考勤">创建考勤</a></li>
                     <li><a href="{% url 'index:event_work' %}" title="值班考勤记录">值班考勤记录</a></li>
                    <li><a href="{% url 'index:event_activity' %}" title="活动考勤记录">活动考勤记录</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    <li><a href="{% url 'index:system_mail' %}" title="邮箱配置">邮箱配置</a></li>
                    <li><a href="{% url 'index:system_mail' %}" title="短信配置">短信配置</a></li>
					<li><a href="{% url 'index:system_update' %}" title="系统更新">系统更新</a></li>
					<li><a href="{% url 'index:system_feed' %}" title="用户反馈">用户反馈</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>